@page
@using Microsoft.AspNetCore.Mvc.Localization
@using QMSPOC.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using QMSPOC.Web.Pages.ItemBoms
@using QMSPOC.ItemBoms;
@using System.Globalization
@inject IHtmlLocalizer<QMSPOCResource> L
@model CreateModalModel
@{
    Layout = null;
}


<form data-ajaxForm="true" asp-page="/ItemBoms/CreateModal" autocomplete="off">
    <abp-modal id="ItemBomCreateModal">
        <abp-modal-header title="@L["NewItemBom"].Value"></abp-modal-header>

        <abp-modal-body>

                
                    
                    

            <abp-input asp-for="ItemBom.Code"    />


            <abp-input asp-for="ItemBom.Version"    />


            <abp-input asp-for="ItemBom.Description"    />

                                <abp-select asp-for="ItemBom.ItemId" asp-items="Model.ItemLookupListRequired" label="@L["Item"].Value"/>
                


        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">

        </abp-modal-footer>
    </abp-modal>
</form>
